### 1.Create two numbers. One float another integer. Add two numbers and print the result in           integer format.

In [1]:
floatNo=2.5
intNo=2
print(int(floatNo+intNo))

4

### 2. Create a list with numbers 1 to 10 and sort it in ascending and descending order.

In [2]:
numbers=[*range(1,10,1)]
numbers.sort()
print("Ascending order: ", numbers)
numbers.sort(reverse=True)
print("Descending order: ", numbers)

Ascending order:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Descending order:  [9, 8, 7, 6, 5, 4, 3, 2, 1]

### 3.	Create a list with numbers 1 to 10 in it ([1,2,3….10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result.

In [3]:
nums=[*range(1,11,1)]
print(nums)
sum=0
for i in nums:
    if i!=5 and i!=7:
        sum=sum+i
print("sum :",sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum : 43

### 4. Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3.  Print the result. Tip: To check whether number is divisible by 3 you can use % operator

In [4]:
i=1
ls1=[]
while i <= 100:
    if(i%3!=0):
        ls1.append(i)
    i+=1
print(ls1)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

### 5.Create a dictionary with 5 key pair values. Key would be a grocery item name and value will be its price (any value in the range of 100 to 1000). (take any grocery items) Write a for loop to iterate over a dictionary and print key-value pairs. While printing if the value is greater Rs. 500 then print a line – “this is a costly item.” While printing if the value is less than Rs. 100 then print a line – “this is affordable item.”

In [3]:
grocery_dict={
    "sugar": 100,
    "rice" : 520,
    "oil"  : 500,
    "salt" : 50,
    "kesar": 900
}

for i,j in grocery_dict.items():
    if(j>500):
        print(i,j,'this is a costly item.')
    elif(j<100):
        print(i,j,'this is an affordable item.')
    else:
        print(i,j)

sugar 100
rice 520 this is a costly item.
oil 500
salt 50 this is an affordable item.
kesar 900 this is a costly item.

### 6. In the dictionary created in Task 3 delete the key value pairs where price is less than average price of all the items in the dictionary.

In [6]:
import numpy as np
grocery_dict={
    "sugar": 100,
    "rice" : 520,
    "oil"  : 500,
    "salt" : 50,
    "kesar": 900
}
avg=int(np.average(list(grocery_dict.values())))
print("Average value:",avg)
for i,j in grocery_dict.items():
    if(j>avg):
        print(i,j)

Average value: 414
rice 520
oil 500
kesar 900

In [7]:
# second approach
grocery_dict={
    "sugar": 100,
    "rice" : 520,
    "oil"  : 500,
    "salt" : 50,
    "kesar": 900
}
avg=int(np.average(list(grocery_dict.values())))
print("Average value:",avg)
res = {k:v for k,v in grocery_dict.items() if v>avg}
print(res)

Average value: 414
{'rice': 520, 'oil': 500, 'kesar': 900}

In [8]:
# third approach
grocery_dict={
    "sugar": 100,
    "rice" : 520,
    "oil"  : 500,
    "salt" : 50,
    "kesar": 900
}
avg=int(np.average(list(grocery_dict.values())))
print("Average value:",avg)
for i in grocery_dict.copy():
    if(grocery_dict[i]<avg):
        del grocery_dict[i]
print(grocery_dict)

Average value: 414
{'rice': 520, 'oil': 500, 'kesar': 900}

### 7. Create a function which takes 3 numbers as inputs and returns the following three values. Addition of two numbers. Subtraction of two numbers. Multiplication of two numbers

In [9]:
def Operations(*num):
    addition,subtraction,multiplication=0,num[0],1
    for i in num[1:]:
        subtraction-=i
    for j in num:
        addition=addition+j
        multiplication=multiplication*j
    return ("Addition",addition,"Subtraction",subtraction,"Multiplication",multiplication)

print(Operations(5,3,1))

('Addition', 9, 'Subtraction', 1, 'Multiplication', 15)

### 8.	“i live in india since my childhood”. Count number of i in this text

In [10]:
str1='i live in india since my childhood'
str1.count('i')

7

### 9.	data = [1,2,3,4,6,7,7,8,9,9]. Drop duplicate values from this list and print the remaining numbers.

In [11]:
data = [1,2,3,4,6,7,7,8,9,9]
print(np.unique(data))

[1 2 3 4 6 7 8 9]

### 10.	If you are given two lists create a dictionary from it. keys_list = [1,2,3,4] values_list = [‘ind’, ‘aus’, ‘eng’ , ‘pak’]

In [12]:
keys_list = [1,2,3,4]
values_list = ['ind', 'aus', 'eng' , 'pak']
dict1=[dict(zip(keys_list,values_list))]
print(dict1)

[{1: 'ind', 2: 'aus', 3: 'eng', 4: 'pak'}]

### 11.	How do you check if a variable is of a certain data type in Python?

In [13]:
variable_name=[]
type(variable_name)

list

### 12.	Write a program that prints the first 10 natural numbers.

In [14]:
print([*range(1, 11, 1)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 13.	Write a python code to find last 4 characters of a string : 'Machine Learning'

In [16]:
str2='Machine Learning'
print(str2[-4:])

ning

### 14.	Write a python code to remove blank space from string : 'P y t h o n'

In [17]:
str3='P y t h o n'
str3.replace(' ','')

'Python'

### 15.Write a python code to remove trailing space from string: ‘Machine Learning.     ’

In [18]:
str4='Machine Learning. '
str4.rstrip()

'Machine Learning.'

### 16.Write a python code to print the summation of all the numbers from 1 to 100

In [19]:
sum=0
for i in range(1,101):
    sum+=i
print(sum)

5050

### 17.Write a python code to find the second largest number in a list: [21,44,767,98,37,106,345,87]

In [20]:
list1=[21,44,767,98,37,106,345,87]
list1.sort(reverse=True)
print(list1[1])

345

### 18. Write a python code to check given character is digit or not : 265

In [21]:
char1=265
if(str(char1).isdigit()):
    print('It is a digit')
else:
    print('It'+ "'" + 's not a digit')

It is a digit

### 19.	Write a python code to Convert a string to lowercase : ‘MACHINE LEARNING’

In [22]:
str5='MACHINE LEARNING'
str5.lower()

'machine learning'

### 20.Write a Python program to find the common elements between two lists.

In [23]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[1,11,2,22,3,44,5,66,7,88]
for i in l1:
    for j in l2:
        if(i==j):
            print(i)

1
2
3
5
7

In [24]:
print(set(l1) & set(l2))

{1, 2, 3, 5, 7}

### 21.Write a python function to calculate the factorial of a given integer 10

In [25]:
def fact(a):
    return 1 if (a==1 or a==0) else a * fact(a-1)

print(fact(10))

3628800

In [26]:
import math
print(math.factorial(10))

3628800

### 22.Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]

In [27]:
list_all=[21,44,22,878,55,90,17,68,69,91]
list_even=[]
list_odd=[]
for i in list_all:
    if(i%2==0):
        list_even.append(i)
    else:
        list_odd.append(i)
print(list_even)
print(list_odd)

[44, 22, 878, 90, 68]
[21, 55, 17, 69, 91]

### 23.Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]

In [28]:
list6=[21,44,767,98,37]
sum=0
for i in list6:
    sum+=i
print(sum)

967

### 24.Write a python code to find square and cube of every number in a given list of integers using Lambda. list1 = [12,3,41,7,9,111]

In [29]:
list1 = [12,3,41,7,9,111]
square = lambda x:[i**2 for i in x]
cube = lambda x:[i**3 for i in x]
print(square(list1))
print(cube(list1))

[144, 9, 1681, 49, 81, 12321]
[1728, 27, 68921, 343, 729, 1367631]

### 25.Write a python code to count the number of occurrences of a character ‘e’ in a string. ‘Machine Learning and Deep Learning’

In [30]:
str6='Machine Learning and Deep Learning'
str6.count('e')

5

### 26. calculate the absolute value of a number -564

In [31]:
abs(-564)

564

### 27.	Write a python code to check if a string contains only alphabetic characters. String = ‘HelloPython’

In [32]:
String_new = 'HelloPython'
String_new.isalpha()

True

### 28.	Create two separate dictionaries and Merge them.

In [33]:
dict1={"name":"a","surname":"b"}
dict2={"middlename":"c"}
dict1.update(dict2)
print(dict1)
print(dict2)

{'name': 'a', 'surname': 'b', 'middlename': 'c'}
{'middlename': 'c'}

### 29.Write a python code to filter odd numbers from the list using filter () function. List1 = [12,3,41,7,9,111]

In [34]:
List1 = [12,3,41,7,9,111]
odd_num=filter(lambda x: x%2!=0, List1)
print(list(odd_num))

[3, 41, 7, 9, 111]

### 30.Create a function that checks if a given number is even or odd.

In [35]:
def even_odd(x):
    res = lambda x:f"{x} is even" if x%2==0 else "{x} is odd"
    print(res(x))
even_odd(4)

4 is even

### 31.	Create a function to find the sum of all even numbers in a list.

In [36]:
li_1 = [1,2,3,4,5,6,7,8,9]
def sum_even(li):
    sum=0
    for i in li:
        if(i%2==0):
            sum+=i
        else:
            pass
    return sum
print(sum_even(li_1))

20

### 32.Write a Python program to find the maximum and minimum values in a list. list1 = [ 21,44,767,98,37]

In [37]:
list1 = [ 21,44,767,98,37]
print("Min value: ",min(list1),"\n""Max value: ",max(list1))

Min value:  21
Max value:  767

### 33.	Write a function to remove duplicate elements from a list.

In [38]:
li=[1,1,2,3,4,5,5,6]
def rem_dup(li):
    li1=[]   
    for i in li:  
        if i not in li1:
            li1.append(i)
    return str(li1)
print(rem_dup(li))

[1, 2, 3, 4, 5, 6]

### 34.	Create a Python dictionary with keys as cars and values as their respective prices.
### car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
### car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]

In [39]:
car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]
dict3=dict(zip(car_models,car_prices))
dict3

{'Toyota Camry': 2500000,
 'Honda Civic': 2200000,
 'Ford Mustang': 4000000,
 'Chevrolet Silverado': 3500000,
 'Nissan Altima': 2300000}

### 35.	Create a Python function to reverse a string.

In [40]:
def rev_str(s1):
    s=''
    for i in s1:
        s=i+s
    return s
rev_str('sanmay')

'yamnas'

In [41]:
def rev_str1(s2):
    return s2[::-1]
rev_str1('sanmay')

'yamnas'

### 36.	Calculate the mean of a list of numbers. [ 21,44,767,98,37]

In [42]:
np.mean([ 21,44,767,98,37])

193.4

### 37.	Write a python code to check if a number is positive, negative, or zero.

In [43]:
check1 = lambda x: f"{x} is positive" if x>0 else ( f"{x} is negative" if x<0 else f"{x} is zero")
print(check1(33))
print(check1(-4))
print(check1(0))

33 is positive
-4 is negative
0 is zero

### 38.	Find the length of the longest word in a string: ‘Data Science and Machine Learning’

In [20]:
str8='Data Science and Machine Learning'
def maximum(s):
    s=s.split()
    print("Longest word :",max(s,key=len))
    print("Length of longest word :",len(max(s,key=len)))
maximum(str8)

Longest word : Learning
Length of longest word : 8